// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap');


// Include any default variable overrides here (colors, font sizes, font family, etc..)

$primary: #A04ADD;
$secondary: #3B53C7;
$success: #A4D882;
$info: #59C1EF;
$warning: #FFF689;
$danger: #E5446D; 
$light: #f2f2f2; 
$dark: #181853;

// Adjust nav link hover color here

$navbar-dark-hover-color: #A04ADD;

// Typography
// Change font family for base text

$font-family-base: 'Source Sans 3';

// Change font family for headings

$headings-font-family: 'Libre Baskerville';

// Change font sizes for h1-h6 using values in assignment

$display-font-sizes: (
  1: 3.052rem,
  2: 2.441rem,
  3: 1.953rem,
  4: 1.563rem,
  5: 1.25rem,
  6: 1rem
);


.navbar-brand{
  font-family: 'Libre Baskerville';
}
@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
